.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.accordian {
    width: 50vw;
}

.item {
    background-color: rgba(166, 245, 245, 0.614);
    margin-bottom: 1rem;
    padding: 10px 20px;
    border-radius: 20px;
}

.title {
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 26px;
}